<div id="headerGallery" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li class="active" data-slide-to="0" data-target="#headerGallery"></li>
    <li class="" data-slide-to="1" data-target="#headerGallery"></li>
    <li class="" data-slide-to="2" data-target="#headerGallery"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="container" style="background-image: url('/images/bubble4.jpg');">
        <div class="carousel-caption">
          <h2>Choose sides and let the fun begin!</h2>
          <p> <a class="btn btn-lg btn-primary scroll" ng-click="scrollTo(this,'#book')">Ready?</a> </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container" style="background-image: url('/images/bubble2.jpg');">
        <div class="carousel-caption">
          <h2>The most fun you'll have with inflatables!</h2>
          <p> <a class="btn btn-lg btn-primary scroll" ng-click="scrollTo(this,'#book')">Try It Yourself</a> </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container" style="background-image: url('/images/bubble3.jpg');">
        <div class="carousel-caption">
          <h2>The fun won't stop til you drop...</h2>
          <p> <a class="btn btn-lg btn-primary scroll" ng-click="scrollTo(this,'#book')">Book Now</a> </p>
        </div>
      </div>
    </div>
  </div>

  <div style="display: none;">
    <img src="/images/bubble2.jpg" alt="preloader for carousel image 2" />
    <img src="/images/bubble3.jpg" alt="preloader for carousel image 3" />
  </div>

  <a class="left carousel-control" data-slide="prev" role="button" data-target="#headerGallery" href>
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" data-slide="next" role="button" data-target="#headerGallery" href>
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </a>
</div>
