<div id="headerGallery" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li class="active" data-slide-to="0" data-target="#headerGallery"></li>
    <li class="" data-slide-to="1" data-target="#headerGallery"></li>
    <li class="" data-slide-to="2" data-target="#headerGallery"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="container" style="background-image: url('/images/bubble4.jpg');">
        <div class="carousel-caption">
          <h2>Choose sides and let the fun begin!</h2>
          <p> <a class="btn btn-lg btn-primary" role="button" href="#/book">Ready?</a> </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container" style="background-image: url('/images/bubble2.jpg');">
        <div class="carousel-caption">
          <h2>The most fun you'll have with inflatables!</h2>
          <p> <a class="btn btn-lg btn-primary" role="button" href="#/book">Try It Yourself</a> </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container" style="background-image: url('/images/bubble3.jpg');">
        <div class="carousel-caption">
          <h2>The fun won't stop til you drop...</h2>
          <p> <a class="btn btn-lg btn-primary" role="button" href="#/book">Book Now</a> </p>
        </div>
      </div>
    </div>
  </div>

  <a class="left carousel-control" data-slide="prev" role="button" data-target="#headerGallery" href>
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" data-slide="next" role="button" data-target="#headerGallery" href>
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </a>
</div>

<div class="container marketing">

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Are you ready for this?
        <span class="text-muted">You'd better be!</span>
      </h2>
      <p class="lead">
Call it Bubble Soccer, call it Sphere Smash, call it Inflate-gate... Whatever you call it, get ready to Dive Into
a Great Time! Collide-O-Sphere is the hottest craze, and we are ready to help you host the event your friends will
rave about for months to come! It's easy... Fill out a <a href="#/book">booking request</a> and we'll confirm your
event. Then we show up on the day and handle everything. You and your friends have a great time and then we clean
up. Don't let someone else beat you to this... <a href="#/book">BOOK NOW!</a>
      </p>
    </div>
    <div class="col-md-5">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/gLv8LCLApEw" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">
        Game of Globes
        <span class="text-muted">This is not your father's capture-the-flag.</span>
      </h2>
      <p class="lead">
Get the other team's Globe (which is an 8 foot tall beach wall) in your
goal area, but don't let the other team grab yours! Games are timed and
the team that captures the other team's globe the most times wins. Game of
Globes is the featured game at Collide-O-Sphere and is a sure fire way to
have a great time in an original way!
      </p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" alt="500x500" data-src="holder.js/500x500/auto" src="/images/gameOfGlobes.gif" data-holder-rendered="true">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Ever wanted to knock your boss over?
        <span class="text-muted">This could be your next corporate event.</span>
      </h2>
      <p class="lead">
Your boss will be elated to get bowled over and you'll be
the subject of praise around the watercooler... you might even get that cute
new intern's phone number after the office finds out that you're responsible
for a Collide-O-Sphere outing! Don't let that creap from accounting claim
this for himself... Book an Event for your company and claim the corporate
celebrate status you deserve!
      </p>
    </div>
    <div class="col-md-5">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/29NoYJAkyys" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette center">
    <div class="col-sm-4">
      <img class="img-circle" width="140" height="140" alt="Generic placeholder image" src="/images/indoor.jpg">
      <h2>Play Inside</h2>
      <p>Indoor Sports Complexes are the ideal location to host a weather safe event!</p>
    </div>
    <div class="col-sm-4">
      <img class="img-circle" width="140" height="140" alt="Generic placeholder image" src="/images/snowSoccer.jpg">
      <h2>Play in the Snow</h2>
      <p>Our Spheres are made of cold resistent TPU, which means we can play outdoors and in the snow!</p>
    </div>
    <div class="col-sm-4">
      <img class="img-circle" width="140" height="140" alt="Generic placeholder image" src="/images/big-backyard.jpg">
      <h2>Play at your house</h2>
      <p>If you have enough space, we'll come to you!</p>
    </div>
  </div>

</div>
