<center>
  <h1>Join our Inner Sphere</h1>
</center>

<div class="row">
  <div class="col-md-12">
    <p class="lead">Get invites to special drop-in events!</p>
    <p> We occassionally have trial events that have a drop-in cost that is much easier
      to give Collide O Sphere a try if you aren't sure you want to do a full rental, or
      can't quite get the full number of guests.  If that's the case, you'll want to
      know when these event are going to be!</p>
    <p>We WILL NOT sell (or give) your information to anyone else, and we promise not
    to spam you. You should never get more than 2 or 3 emails from us in a month (if that
    many!).</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <form id="userForm" class="form-horizontal" ng-submit="submitUser()">
        <fieldset>
          <div class="row">
            <div class="col-sm-3">
              <input ng-model="user.first_name" class="form-control" placeholder='First Name'/>
            </div>
            <div class="col-sm-3">
              <input ng-model="user.last_name" class="form-control" placeholder='Last Name'/>
            </div>
            <div class="col-sm-4">
              <input ng-model="user.email" class="form-control" placeholder='you@email.com'/>
            </div>
            <div class="col-sm-1">
              <button type="submit" class="btn btn-primary">Add Me</button>
            </div>
          </div>
        </fieldset>
      </form>
  </div>
</div>

<hr class="featurette-divider" />
