<center>
  <h1>Pricing</h1>
  <table class="pricing">
    <tr><th></th><th>First Hour</th><th>Each Additional Hour</th></tr>
    <tr><td>3v3 Rental (6 Spheres)</td><td>$225</td><td>$200</td></tr>
    <tr><td>4v4 Rental (8 Spheres)</td><td>$275</td><td>$200</td></tr>
    <tr><td>5v5 Rental (10 Spheres)</td><td>$300</td><td>$200</td></tr>
    <tr><td>Venue Rental</td><td><i>varies*</i></td><td><i>varies*</i></td></tr>
  </table>
  <br />
  <br />
  <p>
    * We have discount rental agreements with several venues in the area. We can
    coordinate the rental of an indoor venue, or you may do so yourself, though
    we strongly suggest to stick with locations that we have worked with before.
  </p>

  <hr class="featurette-divider" />
</center>